<h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Inserir imagem do documento</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">
            <h1>Cadastro</h1>
            <div class="list-group">
                <a class="list-group-item">Informações Pessoais</a>
                <a class="list-group-item active">Inserir documento</a>
                <a class="list-group-item">Foto com o documento</a>
            </div>
        </div>
        <div class="d-flex justify-content-center DashboardContainer"></div>
    </div>
</div>